@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    /* background-color: black; */
    margin: 0px;
    font-family: 'Poppins', sans-serif; 
    background-color: #DBE2EF;
    color: #112D4E;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #F9F7F7;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.item {
    text-align: center;
    margin: 16px 20px;
    list-style: none;
    font-weight: 500;
    transition: transform .2s;
}

.item a {
    color: #112D4E;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
}

.item:hover {
    transform: scale(1.3);
}

.item a:hover{
    color: #3F72AF;
}
.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
}

.Card {
    background-color: #F9F7F7;
    border-radius: 42px;
    margin: 10px;
    padding: 20px;
    width: 40%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.qr-code {
    margin-left: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.qr-code img {
    width: 300px;
    aspect-ratio: 1;

}
.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #F9F7F7;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-color: #0056b3; */
        border-radius: 10rem;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #112D4E;
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }

    &:hover {
        color: #F9F7F7;

        &:before {
            width: 100%;
        }
    }
}
.button {
    width: 100%;
    padding: 10px;
    background-color: #3F72AF;
    color: #F9F7F7;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
    transition: background-color 0.3s;
}
/* cancel button css */
.cancel {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #F9F7F7;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-color: #0056b3; */
        border-radius: 10rem;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #8a0303;
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }

    &:hover {
        color: #F9F7F7;

        &:before {
            width: 100%;
        }
    }
}
.cancel {
    width: 100%;
    padding: 10px;
    background-color: #3F72AF;
    color: #F9F7F7;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
    transition: background-color 0.3s;
}

input {
    margin-left: 1rem;
}

select {
    width: 22%;
}

.btn-class {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

#book {
    margin-right: 1rem;
    border-radius: 20px;
    width: 35%;
    border: 1px solid #ccc;
}

#cancel {
    border-radius: 20px;
    width: 25%;
    border: 1px solid #ccc;
    background-color: rgba(222, 29, 29, 0.931);
    color: #F9F7F7;
    text-decoration: none;
    text-align: center;
}

a{
    color: #F9F7F7;
    text-decoration: none;
}

/* card-detals */
#card-details{
    width: 88%;
    margin: 15px 54px;
}

/* dropdown css */
select {
    padding-left: 20px; /* Adjust padding for the arrow */
    font-size: 16px;
    margin:0 7px;
    border: 1px solid #F9F7F7;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23444444" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 24px;
    background-color: #F9F7F7;
    width: 195px;
    height: 35px; 
    overflow: hidden; 
    transition: height 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  select:focus {
    outline: none;
    border-color: #6cb2eb; 
    box-shadow: 0 0 8px rgba(108, 178, 235, 0.6); 
  }
  
/* form tags css */
#card-details h2{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #112D4E;
    margin: 20px 0px;
}
#card-details p{
    font-size: 20px;
    font-weight: 700;
    color: #112D4E;
    margin: 20px 0px;   
}
#card-details label{
    font-size: 20px;
    font-weight: 700;
    color: #112D4E;

}
 
  
  