@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #DBE2EF;
    color: #112D4E;
}

.dropdown-container{
    display: flex;
    /* flex-direction: column; */
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 850px;
    margin: 50px auto;
    padding: 20px;
    background-color: #F9F7F7;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* background-color: #E3E1D9 */
}

h2 {
    margin: 20px;
    font-weight: 700;
    /* color: #333; */
    text-align: center;
    font-size: 42px;
}

select {
    width: 60%;
    padding: 10px;
    border: 1px solid #F9F7F7;
    border-radius: 5px;
    font-size: 20px;
    text-transform: capitalize;
}

button {
    width: 30%;
    padding: 10px;
    background-color: #3F72AF;
    border-radius: 10px;
    color: #F9F7F7;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
    transition: background-color 0.3s;
}

button {
    display: inline-block;
    padding: .75rem 1.25rem;
    color: #F9F7F7;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-color: #0056b3; */
        border-radius: 10px;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #112D4E;;
        transition: all .3s;
        border-radius: 10px;
        z-index: -1;
    }

    &:hover {
        color: #F9F7F7;

        &:before {
            width: 100%;
        }
    }
}

input.plain-text {
    border: none;
    background-color: transparent;
    outline: none;
    width: auto; /* Adjust width as needed */
    padding: 0;
}

.selectedSymptom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    width: 80%;
    background-color: #DBE2EF;
    border: 2px solid #112D4E;
    border-radius: 20px;
}

#selectedSymptoms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.selectedSymptom .symptomText {
    flex: 1;
    color: #333;
}

.selectedSymptom .deleteSymptom {
    padding: 0 5px;
    color: #ff0000;
    cursor: pointer;
}

.deleteButton {
    cursor: pointer;
}

.predict-button {
    display: block;
    width: 45%;
    padding: 10px 0;
    margin-top: 10px;
    background-color: #3F72AF;
    color: #F9F7F7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #F9F7F7;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.item {
    text-align: center;
    margin: 16px 20px;
    list-style: none;
    font-weight: 500;
    transition: transform .2s;
}

.item a {
    color: #112D4E;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
}

.item:hover {
    transform: scale(1.3);
}

.item a:hover{
    color: #3F72AF;
}