{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Details</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/bookedAppointment.css' %}" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand fs-2 fw-bolder text-light" href="#">Swasthik</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active fs-5 text-light" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 text-light" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 text-light" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 text-light" href="#">MediPredictor</a>
            </li>
          </ul>
        </div>
        <form class="d-flex">
          <!-- <a class="navbar-brand fs-5 text-light" href="#">Login</a> -->
          <a class="navbar-brand fs-5 text-light" href="#">{{user.fullName}}</a>
        </form>
      </div>
    </nav>
    <div id='qrcode' style="display: none;">
      <div id="qrimage">
      </div>
      <span class="close-button" onclick="toggleQRCodePopup1()"><button>X</button></span>
    </div>
    <div id="mainContent">
      <h1>Upcoming Appointments:</h1>
      <div id="upcomingAppointmentsContainer" class="Container">
          <!-- Upcoming appointments will be dynamically added here -->
      </div>
  
      <h1>Past Appointments:</h1>
      <div id="pastAppointmentsContainer" class="Container">
          <!-- Past appointments will be dynamically added here -->
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/0a6538b53f.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/qrcode-generator/qrcode.js"></script>
  <script src="{% static 'js/bookedAppointment.js' %}"></script>
  <script>
    var appointments = JSON.parse('{{ appointments | escapejs }}')
    function createQRCode(data) {
      var qr = qrcode(0, 'L'); 
      qr.addData(JSON.stringify(data));
      qr.make();
      var imgElement = document.createElement('img');
      imgElement.src = qr.createDataURL(4);
      document.getElementById('qrimage').innerHTML = ""
      document.getElementById('qrimage').appendChild(imgElement);
    }

    function toggleQRCodePopup(event) {
      var qrcodePopup = document.getElementById("qrcode");
      qrcodePopup.style.display = (qrcodePopup.style.display === "none") ? "flex" : "none";
      document.getElementById("mainContent").classList.add('blur')
      document.querySelector('nav').classList.add('blur');
      var appointmentData = event.target.innerText;
      var appointmentDetails = appointmentData.split('\n').filter(detail => detail.trim() !== '');
      var patientName = appointmentDetails[0].replace('Patient Name:', '').trim();
      var age = appointmentDetails[1].replace('Age:', '').trim();
      var Phone = appointmentDetails[2].replace('Phone:', '').trim();
      var doctorName = appointmentDetails[3].replace('Doctor Name:', '').trim();
      var dateAndTime = appointmentDetails[4].replace('Date and Time:', '').trim();
      var predDisease = appointmentDetails[5].replace('Predicted Disease:', '').trim();
      console.log(appointmentDetails)
      var qrData = {
        patientName: patientName,
        Age: age,
        phone: Phone,
        doctorName: doctorName,
        dateAndTime: dateAndTime,
        PredictedDisease: predDisease
      };
      console.log(qrData)
      createQRCode(qrData)
    }
    function toggleQRCodePopup1(){
    var qrcodePopup = document.getElementById("qrcode");
    qrcodePopup.style.display = (qrcodePopup.style.display === "none") ? "flex" : "none";
    document.getElementById("mainContent").classList.remove('blur')
      document.querySelector('nav').classList.remove('blur');
  }
function populateAppointments() {
  var upcomingContainer = document.getElementById('upcomingAppointmentsContainer');
  var pastContainer = document.getElementById('pastAppointmentsContainer');
  upcomingContainer.innerHTML = '';
  pastContainer.innerHTML = '';
  var currentDate = new Date();
  var i=0;
  appointments.forEach(function(appointment) {
      var card = document.createElement('div');
      card.classList.add('Card');
      var patientName = document.createElement('h2');
      patientName.textContent = 'Patient Name:  {{user.fullName}}';
      var age = document.createElement('p');
      age.textContent = 'Age: {{user.age}}';
      var phone = document.createElement('p');
      phone.textContent = 'Phone: {{user.phone}}';
      var doctorName = document.createElement('p');
      doctorName.textContent = 'Doctor Name: ' + appointment.bookedFor;
      var dateOfAppointment = new Date(appointment.date + ' ' + appointment.time);
      var predDisease = document.createElement('p');
      predDisease.textContent = 'Predicted Disease: {{doctor.disease}}';
      if (dateOfAppointment < currentDate) {
        card.style.backgroundColor = 'lightcoral';
      } else {
        card.style.backgroundColor = 'lightgreen'; 
        card.setAttribute("id","card-" + i);
        card.addEventListener('click', toggleQRCodePopup)
        i ++;
      }
      var dateAndTime = document.createElement('p');
      dateAndTime.textContent = 'Date and Time: ' + appointment.date + ' ' + appointment.time;
      card.appendChild(patientName);
      card.appendChild(age);
      card.appendChild(phone);
      card.appendChild(doctorName);
      card.appendChild(dateAndTime);
      card.appendChild(predDisease);
      if (dateOfAppointment < currentDate) {
        pastContainer.appendChild(card);
      } else {
        upcomingContainer.appendChild(card);
      }
    });
  }
  
populateAppointments();
  </script>
</html>
