{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHMS - Appointments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/bookedAppointment.css' %}" />
  </head>

  <body>
    <nav>
      <ul id="center">
        <li class="item">
          <a href="/">SHMS</a>
        </li>
        {% if user.role == 'patient' %}
          <li class="item">
            <a href="/prediction">MediPredictor</a>
          </li>
        {% endif %}
        <li class="item">
          <a href="/bookedAppointment">Appointments</a>
        </li>
        <li class="item">
          <a href="/dashboard">{{ user.fullName }}</a>
        </li>
        <li class="item">
          <a href="/logOut">Log Out</a>
        </li>
      </ul>
    </nav>

    <div id="qrcode" style="display: none;">
      <div id="qrimage"></div>
      <div id="qrData"></div>
    </div>
    <div id="mainContent">
      <h1>Hey {{ user.fullName }}!!</h1>
      <h2>Upcomming Appointments</h2>

      <div class="carousel">
        <div class="cards-container" id="upcomingAppointmentsContainer">
          <!-- Add more cards here -->
        </div>
        <button class="prev-btn"><i id="left" class="fa-solid fa-angle-left"></i></button>
        <button class="next-btn"><i id="right" class="fa-solid fa-angle-right"></i></button>
      </div>
      <h2>Past Appointments</h2>
      <div class="carousel">
        <div class="cards-container" id="pastAppointmentsContainer">
          <!-- Add more cards here -->
        </div>
        <button class="prev-btn"><i id="left" class="fa-solid fa-angle-left"></i></button>
        <button class="next-btn"><i id="right" class="fa-solid fa-angle-right"></i></button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/qrcode-generator/qrcode.js"></script>

    <script src="{% static 'js/bookedAppointment.js' %}"></script>
    <script>
      var appointments = JSON.parse('{{ appointments | escapejs }}')
      function createQRCode(data) {
        var qr = qrcode(0, 'L')
        qr.addData(JSON.stringify(data))
        qr.make()
        var imgElement = document.createElement('img')
        imgElement.src = qr.createDataURL(4)
        document.getElementById('qrimage').innerHTML = ''
        document.getElementById('qrimage').appendChild(imgElement)
      }
      
      function toggleQRCodePopup(event) {
        var qrcodePopup = document.getElementById('qrcode')
        qrcodePopup.style.display = qrcodePopup.style.display === 'none' ? 'flex' : 'none'
        document.getElementById('mainContent').classList.add('blur')
        document.querySelector('nav').classList.add('blur')
        var viewDetailsDiv = event.target.closest('.card').querySelector('.view')
        var hiddenDetailsDiv = event.target.closest('.card').querySelector('.hidden')
        var patientName = hiddenDetailsDiv.querySelector('.patientName').innerText
        patientName = patientName.split(':')[1].trim()
        var age = hiddenDetailsDiv.querySelector('.age').innerText
        age = age.split(':')[1].trim()
        var phone = hiddenDetailsDiv.querySelector('.phone').innerText
        phone = phone.split(':')[1].trim()
        var gender = hiddenDetailsDiv.querySelector('.gender').innerText
        gender = gender.split(':')[1].trim()
        var doctorName = viewDetailsDiv.querySelector('.doctorName').innerText
        var hospital = viewDetailsDiv.querySelector('.hospital').innerText
        var disease = hiddenDetailsDiv.querySelector('.disease').innerText
        disease = disease.split(':')[1].trim()
        var specialization = viewDetailsDiv.querySelector('.specialization').innerText
        var dateAndTime = viewDetailsDiv.querySelector('.dateAndTime').innerText
        var qrDataDiv = document.getElementById('qrData')
        var patientName1 = document.createElement('h2')
        patientName1.textContent = 'Patient: ' + patientName
        var age1 = document.createElement('p')
        age1.textContent = 'Age: ' + age
        var phone1 = document.createElement('p')
        phone1.textContent = 'Phone: ' + phone
        var gender1 = document.createElement('p')
        gender1.textContent = 'Gender: ' + gender
        var doctorName1 = document.createElement('h2')
        doctorName1.textContent = 'Doctor: ' + doctorName
        var hospital1 = document.createElement('p')
        hospital1.textContent = 'Hospital: ' + hospital
        var disease1 = document.createElement('p')
        disease1.textContent = 'Predicted Disease: ' + disease
        var specialization1 = document.createElement('p')
        specialization1.textContent = 'Specialization: ' + specialization
        var starIcon = document.createElement('i')
        starIcon.classList.add('fa-solid', 'fa-star', 'star')
        specialization1.appendChild(starIcon)
        var dateAndTime1 = document.createElement('h2')
        dateAndTime1.textContent = 'Date and Time: ' + dateAndTime
        var button1 = document.createElement('button')
        button1.classList.add('closeButton')
        button1.addEventListener('click', toggleQRCodePopup1)
        button1.textContent = 'Close'
        qrDataDiv.innerHTML = ''
        qrDataDiv.appendChild(patientName1)
        qrDataDiv.appendChild(age1)
        qrDataDiv.appendChild(gender1)
        qrDataDiv.appendChild(phone1)
        qrDataDiv.appendChild(disease1)
        qrDataDiv.appendChild(doctorName1)
        qrDataDiv.appendChild(specialization1)
        qrDataDiv.appendChild(hospital1)
        qrDataDiv.appendChild(dateAndTime1)
        qrDataDiv.appendChild(button1)
        var qrData = {
          patientName: patientName,
          Age: age,
          phone: phone,
          gender: gender,
          doctorName: doctorName,
          hospital: hospital,
          disease: disease,
          specialization: specialization,
          dateAndTime: dateAndTime
        }
        console.log(qrData)
        createQRCode(qrData)
      }
      function toggleQRCodePopup1() {
        var qrcodePopup = document.getElementById('qrcode')
        qrcodePopup.style.display = qrcodePopup.style.display === 'none' ? 'flex' : 'none'
        document.getElementById('mainContent').classList.remove('blur')
        document.querySelector('nav').classList.remove('blur')
      }
      function populateAppointments() {
        var upcomingContainer = document.getElementById('upcomingAppointmentsContainer')
        var pastContainer = document.getElementById('pastAppointmentsContainer')
        upcomingContainer.innerHTML = ''
        pastContainer.innerHTML = ''
        var currentDate = new Date()
        var i = 0
        appointments.forEach(function (appointment) {
          var card = document.createElement('div')
          card.classList.add('card')
          var view = document.createElement('div')
          view.classList.add('view')
          var hidden = document.createElement('div')
          hidden.classList.add('hidden')
          var patientName = document.createElement('h1')
          patientName.textContent = 'Patient Name: ' + appointment.patient
          patientName.classList.add('patientName')
          var age = document.createElement('h1')
          age.textContent = 'Age: ' + appointment.age
          age.classList.add('age')
          var phone = document.createElement('h1')
          phone.textContent = 'Phone: ' + appointment.phone
          phone.classList.add('phone')
          var gender = document.createElement('h1')
          gender.textContent = 'Gender: ' + appointment.gender
          gender.classList.add('gender')
          var doctorName = document.createElement('h1')
          doctorName.textContent = appointment.bookedFor
          doctorName.classList.add('doctorName')
          var hospital = document.createElement('p')
          hospital.textContent = appointment.hospital
          hospital.classList.add('hospital')
          var disease = document.createElement('p')
          disease.textContent = 'Predicted Disease: ' + appointment.disease
          disease.classList.add('disease')
          var specialization = document.createElement('h2')
          specialization.textContent = appointment.specialization + ' ' + appointment.rating
          specialization.classList.add('specialization')
          var starIcon = document.createElement('i')
          starIcon.classList.add('fa-solid', 'fa-star', 'star')
          specialization.appendChild(starIcon)
          var dateAndTime = document.createElement('h2')
          dateAndTime.textContent = appointment.date + ', ' + appointment.time
          dateAndTime.classList.add('dateAndTime')
          var dateOfAppointment = new Date(appointment.date + ' ' + appointment.time)
          if (dateOfAppointment < currentDate) {
          } else {
            card.setAttribute('id', 'card-' + i)
            card.addEventListener('click', toggleQRCodePopup)
            i++
          }
          card.appendChild(view)
          card.appendChild(hidden)
          view.appendChild(doctorName)
          view.appendChild(specialization)
          view.appendChild(dateAndTime)
          view.appendChild(hospital)
          hidden.appendChild(patientName)
          hidden.appendChild(age)
          hidden.appendChild(gender)
          hidden.appendChild(phone)
          hidden.appendChild(disease)
          if (dateOfAppointment < currentDate) {
            pastContainer.appendChild(card)
          } else {
            upcomingContainer.appendChild(card)
          }
          console.log(card)
        })
      }
      
      populateAppointments()
      
      document.addEventListener('DOMContentLoaded', function () {
        const carousels = document.querySelectorAll('.carousel')
      
        carousels.forEach(function (carousel) {
          const cardsContainer = carousel.querySelector('.cards-container')
          const cards = carousel.querySelectorAll('.card')
          const prevBtn = carousel.querySelector('.prev-btn')
          const nextBtn = carousel.querySelector('.next-btn')
      
          let currentIndex = 0
          const cardWidth = cards[0].offsetWidth + 25
      
          prevBtn.addEventListener('click', function () {
            if (currentIndex > 0) {
              currentIndex--
              updateCardsPosition('prev')
            }
          })
      
          nextBtn.addEventListener('click', function () {
            if (currentIndex < cards.length - 3) {
              currentIndex++
              updateCardsPosition('next')
            }
          })
      
          function updateCardsPosition(direction) {
            const newPosition = -currentIndex * cardWidth
            cardsContainer.style.transition = 'transform 1s ease'
            cardsContainer.style.transform = `translateX(${newPosition}px)`
      
            // Reset transition after animation completes
            setTimeout(() => {
              cardsContainer.style.transition = ''
            }, 500)
          }
        })
      })
    </script>
  </body>
</html>
