<!-- capture_image.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capture Image</title>
    <script>
        function setAction(action) {
            document.getElementById("captureForm").action = action;
        }
    </script>
</head>
<body>
    <form id="captureForm" action="{% url 'verify_image' %}" method="post">
        {% csrf_token %}
        {% if jpg_image %}
        <img src="data:image/jpeg;base64,{{ jpg_image }}" alt="{% static 'images/default.jpg' %}">
        {% else %}
        <img src="{% static 'images/default.jpg' %} " alt="">
        {% endif %}
        <button type="submit" onclick="setAction('{% url 'verify_image' %}')">Capture Image</button>
        <button type="submit" onclick="setAction('{% url 'verify' %}')">Register</button>
    </form>
</body>
</html>
